{% extends "quadras/base.html" %}

{% block content %}  

    <!-- Cabeçalho -->
    <div class="header">
        <a href="{% url 'adicionar_quadra' %}" class="btn btn-light cadastrar-btn me-1">Adicionar Quadras</a>
    </div>

<header class="hero">
    <h1>Map4Play - O mapa certo para o seu jogo!</h1>   
    <h4>Encontre quadras públicas de basquete em São Paulo</h4>
    <br>
    <br>
   
    <!-- Barra de Pesquisa -->
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-10">
            <form method="GET" action="{% url 'home' %}">
                <div class="input-group">
                    <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="Buscar por nome da quadra, bairro ou cidade">
                    <button class="btn btn-dark me-1" type="submit">
                        <i class="bi bi-search"></i> Pesquisar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
    
</header>



<!-- Lista de Quadras -->
<div class="container mt-5">
    <h2>Quadras</h2>
    <!-- Verifica se existem quadras -->
     {% if quadras %}
        <div class="row">
            {% for quadra in quadras %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            {{ quadra.nome }}
                        </div>
                        <div class="card-body">
                            {{ quadra.endereco }}
                            <br>
                            <a href="{% url 'detalhes_quadra' quadra.id %}" class="btn btn-dark mt-5">Detalhes</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Nenhuma quadra encontrada. Tente outra busca.</p>
    {% endif %}
</div>


    
{% endblock %}